In [ ]:
#Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [ ]:
#Setup splinter
executable_path={'executable_path':ChromeDriverManager().install()}
browser=Browser('chrome', **executable_path, headless=False)

In [ ]:
# Visit the mars nasa news site
url='https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

In [ ]:
#set up the HTML parser
html=browser.html
news_soup=soup(html, 'html.parser')
slide_elem=news_soup.select_one('div', class_='list.text')

In [75]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title=news_soup.find('div', class_='content_title').text
news_title

"Screening Soon: 'The Pathfinders' Trains Lens on Mars"

In [76]:
# Use the parent element to find the paragraph text
news_p=news_soup.find('div', class_='article_teaser_body').text
news_p

'With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.'

 ### Featured Images

In [77]:
# Visit URL
url='https://spaceimages-mars.com'
browser.visit(url)

In [78]:
# Find and click the full image button
full_image_elem=browser.find_by_tag('button')[1]
full_image_elem.click()

In [79]:
 # Parse the resulting html with soup
html=browser.html
img_soup=soup(html, 'html.parser')

In [80]:
# Find the relative image url
img_url_rel=img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [81]:
# Use the base URL to create an absolute URL
img_url=f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [82]:
df=pd.read_html('https://galaxyfacts-mars.com/')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df.head()

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km

In [83]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles
Hemispheres

In [ ]:
# 1. Use browser to visit the URL 
url = 'https://marshemispheres.com/'
browser.visit(url)

In [ ]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

# 3. Write code to retrieve the image urls and titles for each hemisphere.
html=browser.html
hemi_soup=soup(html, 'html.parser')

In [ ]:
for i in range(4):
    hemispheres={}
    elements=hemi_soup.find('div',id='product-section')
    for element in elements:
        browser.links.find_by_partial_href('search')[1].click()

In [87]:
for i in range(4):
    hemispheres={}
    elem=hemi_soup.find('div',class_='item')
    ite=elem.find('div', class_='description')
    hem=ite.find('a', class_='itemLink product-item')
    title=hem.find('h3').text
    print(title)
    
    
    
    
    
        ite=elem.find('div', id='product-section')
    hem=ite.find('a', class_='itemLink product-item')
    title=hem.find('h3').text
    print(title)

IndentationError: unexpected indent (<ipython-input-87-5c1a3b5e2fb7>, line 13)

In [88]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[]

In [89]:
# 5. Quit the browser
browser.quit()

 elem=hemi_soup.find('div',class_='item')
    elem=
    img_src=elem.find('img', class_='thumb').get('src')
    print(img_src)
    
    
    elem=hemi_soup.find('div',class_='description')
    hem=elem.find('a', class_='itemLink product-item')
    title=hem.find('h3').text
    print(title)

IndentationError: unexpected indent (<ipython-input-89-f2d169add2b9>, line 4)

In [ ]:
browser.quit()

In [ ]:
for i in range(4):
    hemispheres={}
    elem=hemi_soup.find('div',class_='item')
    a=elem.click('a')